DATABASE_URL=postgresql://cryptotracker:CHANGEME@YOUR_SERVER_IP:5432/cryptotracker?sslmode=require
GCP_PROJECT_ID=gcp-crypto-tracker
GOOGLE_APPLICATION_CREDENTIALS=../../.secrets/cryptotracker-backend.json
BQ_DATASET=crypto_tracker
